mixin form-change-status()
    form.form-group(
        action=""
        method="POST"
        form-change-status=""
        id="form-change-status"
        data-path="/admin/product/change-status"
    )