sider.sider.text-decoration-none.bg-dark
    .inner-menu     
        ul.nav.nav-pills.flex-column.mb-auto
            li.nav-item.text-white
                a(
                    href=`${path.admin_dashboard}`
                    class="me-2 ms-2 nav-link"
                    page="dashboard"
                    ) Tổng quan 
            
            li.nav-item.text-white
                a(
                    href=`${path.admin_product}`
                    class="me-2 ms-2 nav-link"  
                    page="product"             
                    ) Sản phẩm

            li.nav-item.text-white
                a(
                    href=`${path.admin_category}`
                    class="me-2 ms-2 nav-link"  
                    page="category"             
                    ) Danh mục 
            
            li.nav-item.text-white
                a(
                    href=`${path.admin_roles}`
                    class="me-2 ms-2 nav-link"  
                    page="roles"             
                    ) Phân quyền
            
            li.nav-item.text-white
                a(
                    href=`${path.admin_auth}`
                    class="me-2 ms-2 nav-link"  
                    page="auth"             
                    ) Tài khoản
            